@import '../../style/variables';

.techs-container {
	width: 100vw;
	height: 100vh;
	padding: 0 4vw;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	position: relative;
	@media (max-width: 800px) {
		padding: 0 8vw;
		text-align: center;
		justify-content: center;
	}
	.techs {
		padding-bottom: 6vw;
		@media (max-width: 800px) {
		}
		p {
			font-size: clamp(2.5rem, 1.5rem + 5vw, 6rem);
			font-weight: 300;
			.work {
				font-weight: 100;
				font-family: 'FrauncesVar', sans-serif;
			}
			.name {
				font-weight: 800;
				font-family: 'Fraunces', sans-serif;
				color: $secondary-color;
			}
			.work2 {
				font-weight: 700;
				font-family: 'FrauncesVar', sans-serif;
				color: $secondary-color;
			}
			.technos-alternat {
				font-weight: 600;
				font-family: 'FrauncesVar', sans-serif;
				color: $secondary-color;
			}
		}
	}
}
