@import '../../style/variables';

.header-content {
	padding: 0px 4vw;
	position: fixed;
	width: 100vw;
	display: flex;
	flex-flow: row;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	top: 40px;
	z-index: 100;
	mix-blend-mode: difference;
	@media (max-width: 800px) {
		padding: 0px 8vw;
		top: 20px;
	}
	.left-part,
	.right-part {
		cursor: pointer;
	}
	.left-part svg {
		fill: $secondary-color;
	}
	.right-part svg {
		fill: none;
		stroke: $primary-color;
		stroke-width: 2px;
	}
}

.nav-container {
	.navbar {
		padding: 0px 4vw;
		position: fixed;
		width: 100vw;
		display: flex;
		flex-flow: row;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
		top: 40px;
		z-index: 100;
		mix-blend-mode: difference;
		@media (max-width: 800px) {
			padding: 0px 8vw;
			top: 20px;
		}
		.logo {
			svg {
				fill: $secondary-color;
			}
		}
		.menu-toggle {
			.hamBox {
				cursor: pointer;
				svg {
					fill: none;
					stroke: $primary-color;
					stroke-width: 2px;
				}
			}
		}
	}
}
.nav-overlay {
	position: fixed;
	z-index: 98;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $accent-color;
	overflow: hidden;
	top: -100%;
	transition: top 1s cubic-bezier(0.22, 1, 0.36, 1);
	ul.nav-links {
		padding: 0 4vw;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		@media (max-width: 800px) {
			padding: 0 8vw;
		}
		.nav-item {
			font-family: 'Studio';
			list-style: none;
			position: relative;
			width: 100%;
			border-bottom: 1px solid $primary-color;
			@media (max-width: 800px) {
				margin: 2vw 0;
			}
			@media (max-width: 400px) {
				margin: 4vw 0;
			}
			.number {
				padding: 0 2vw;
			}
			a {
				color: $primary-color;
				text-decoration: none;
				text-transform: uppercase;
				font-variation-settings: 'wght' 100;
				font-size: clamp(2.625rem, 0.5179rem + 10.5357vw, 10rem);
				transition: font-variation-settings 1.5s cubic-bezier(0.22, 1, 0.36, 1);
			}
			a:hover {
				font-variation-settings: 'wght' 900;
			}
		}
	}
	.nav-item {
		.infos {
			width: 100vw;
			display: flex;
			justify-content: center;
			.links {
				a {
					font-weight: 100;
				}
			}
		}
	}
}
