@import '../../style/variables';

.infos {
	position: absolute;
	bottom: 40px;
	@media (max-width: 800px) {
		bottom: 20px;
	}
	a {
		font-family: 'Studio', sans-serif;
		font-variation-settings: 'wght' 200, 'ital' 0;
		text-transform: uppercase;
		color: $primary-color;
		text-decoration: none;
		transition: color 1s cubic-bezier(0.22, 1, 0.36, 1), font-variation-settings 1s cubic-bezier(0.22, 1, 0.36, 1);
		&:nth-of-type(2) {
			margin: 0 4vw;
		}
	}
	a:hover {
		color: $secondary-color;
		font-variation-settings: 'wght' 600, 'ital' 6;
	}
}
