@import '../../../style/variables';

.project-preview-content {
	display: flex;
	justify-content: center;
	padding: 0 4vw;
	margin: 6vw 0 0 0;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	@media (max-width: 800px) {
		padding: 0 8vw;
	}
	.preview-title {
		text-align: center;
		width: 100%;
		padding: 1vw 0;
		border-bottom: 2px solid $primary-color;
		text-transform: uppercase;
		font-weight: 200;
	}
	.details {
		padding: 10vh 20vw;
		display: flex;
		flex-flow: column wrap;
		@media (max-width: 1000px) {
			padding: 7vh 0;
		}
		.images-container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			img {
				width: 100%;
				margin-bottom: 24px;
				@media (max-width: 800px) {
					margin-bottom: 6vw;
				}
			}
		}
	}
	.next-project {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $primary-color;
		width: 100vw;
		height: 100vh;
		text-decoration: none;
		color: $background;
		text-transform: uppercase;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			h2 {
				transition: font-variation-settings 1s cubic-bezier(0.22, 1, 0.36, 1);
				font-variation-settings: 'wght' 300;
				font-size: clamp(2.8125rem, 0.1875rem + 13.125vw, 12rem);
			}
			.subtitle {
				display: flex;
				flex-direction: row;
				align-items: baseline;
				font-variation-settings: 'wght' 300;
				h3 {
					font-size: clamp(1.625rem, 0.9464rem + 3.3929vw, 4rem);
					margin-right: 10px;
				}
				svg {
					width: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
					height: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
				}
			}
			&:hover h2 {
				font-variation-settings: 'wght' 500;
			}
		}
	}
}
