@import '../../style/variables';

.project-preview-background {
	width: 100vw;
	height: 100vh;
	background-image: url(../../assets/background.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;

	.project-preview-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		mix-blend-mode: difference;
		text-transform: uppercase;
		padding: 0 8vw;
		.project-preview-title1 {
			font-weight: 800;
			font-size: clamp(3rem, 0.1429rem + 14.2857vw, 13rem);
		}
		.project-preview-title2 {
			font-weight: 600;
			font-size: clamp(2.625rem, 0.8036rem + 9.1071vw, 9rem);
		}
	}
}
.projects-list-container {
	width: 100vw;
	height: 100vh;

	.projects-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.project {
			padding: 0 4vw;
			min-height: 90px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			letter-spacing: -4px;
			border-top: 2px solid $primary-color;
			color: $primary-color;
			text-decoration: none;
			p {
				mix-blend-mode: difference;
			}
			&:nth-last-child(1) {
				border-bottom: 2px solid $primary-color;
			}
			@media (max-width: 800px) {
				letter-spacing: -3px;
				padding: 0 8vw;
			}
			h4 {
				&:nth-of-type(1) {
					font-weight: 600;
					font-size: clamp(2.25rem, 0.6071rem + 8.2143vw, 8rem);
					@media (max-width: 800px) {
						font-weight: 400;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-right: 5px;
					}
				}
				&:nth-of-type(2) {
					font-weight: 400;
					font-size: clamp(1.875rem, 0.9821rem + 4.4643vw, 5rem);
				}
			}
		}
	}
}
